body {
  text-align: center;
  
  background-image:linear-gradient(to right,#1f10ecc9,#dc2ade,#323edd);
}

#level-title {
  font-family: 'Press Start 2P', cursive;
 font-size: 2em;
  margin:5%;

  color: #000000;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  
  border-radius: 30%;

}

.game-over {
background-image:linear-gradient(to left, rgba(255, 255, 0, 0.747),rgba(255, 0, 0, 0.925) ,rgba(255, 255, 0, 0.747));
font-family: 'Press Start 2P', cursive;
width:70%;
margin:20% auto;

  
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

span{
  animation: blinker 1s step-start infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
